<div class="ui-g">
  <div class="ui-g-12">

    <div class="card">
      <div class="ui-g-6">
        <img class="img img1" src="/assets/layout/images/about_home.jpg" />
      </div>
      <div class="ui-g-6">
        <p class="title1"> Swap It שואפת להביא לשוק הנדלן הישראלי פלטפורמה חדשה </p>
        <p class="title1">שתאפשר החלפת דירות בין בעלי נכס מתאימים</p>
        <p class="title1"> תוך חיסכון בזמן ועלויות ותפשט את תהליך הקניה והמכירה</p>
        <p class="txt">swap it נעזרת בטכנולוגיה מתקדמת </p>
        <p class="txt">אלגוריתמים מתוחכמים, מאגרי מידע נרחבים</p>
        <p class="txt">וזאת במטרה לבצע חישוב חכם ויעיל בכדי למצוא לך את הדירה המתאימה ביותר</p>
        <p class="txt">במחיר הנכון ובנוחות מקסימאלית</p>
      </div>
      <div id="container ">
        <div id="clear"></div>
      </div>

    </div>