
<!-- <p-gmap [options]="options"  [style]="{'width':'100%','height':'320px'}" ></p-gmap>
<button type="button" pButton label="Zoom In" icon="fa-search-plus" ></button> -->
<body class="color">
<br/>
<div class="card card-w-title how-it-work-cards right-card">




  <h1>תגיד לנו מה אתה מחפש</h1>
  בשלב ראשון תוכל להזין את פרטי הדירה שאתה מחפש בצורה מדוייקת או גמישה לבחירתך
</div><span class="right">1</span>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="card card-w-title how-it-work-cards left-card">
  <h1>תגיד לנו מה יש לך</h1>
  כעת זה השלב שבו תזין את פרטי הדירה שלך כדי למצוא דירות שיתאימו גם לצד השני
</div><span class="left"> 1</span>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="card card-w-title how-it-work-cards right-card">
  <h1>תבחר את הדירה הטובה ביותר עבורך</h1>
  לאחר ביצוע חישוב חכם נציג את הדירות שמתאימות לפרטים שהזנת ועכשיו זה התור שלך לבחור מה הכי מתאים לך
</div><span class="right">  1</span>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="card card-w-title left-card how-it-work-cards">
  <h1>צור קשר עם הצד השני</h1>
  אחרי שמצאת דירה מתאימה נרצה ליצור קשר מהצד השני ולראות שהעסקה מעניינת ומתאימה גם לו
</div><span class="left">1</span>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="card card-w-title how-it-work-cards right-card">
  <h1>הסכמה על החלפה</h1>
  בתהליך פשוט וקל תוכלו לבצע את העסקה תוך ליווי של עורך דין מטעמנו לאורך כל התהליך
</div><span class="right">1</span>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>